/* Force high specificity to override existing styles */
:is(#specificity, .inline-date-picker-input) {
	width: 2em;
	height: 2em;
	color: transparent;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

.cm-contentContainer
	input[type="date"].inline-date-picker-input::-webkit-datetime-edit {
	visibility: hidden;
}
