/* Force high specificity to override existing styles */
:is(#specificity, .inline-date-picker-input) {
	width: 2em;
	height: 2em;
	color: transparent;
	padding: 0;
}

.cm-contentContainer input[type="date"]::-webkit-datetime-edit {
	visibility: hidden;
}
